.record {
  padding: 15px;
  margin: 10px 0;
}
.record-tag {
  margin-top: 8px;
  display: inline-block;
  padding: 1px 7px;
  border-radius: 5px;
}
.record-tag.lecture {
  color: #fff;
  background-color: #69baa5;
}
.record-tag.practice {
  color: #fff;
  background-color: #757182;
}
.record-tag.lab {
  color: #fff;
  background-color: #fabb2f;
}
.record-tag.credit {
  color: #fff;
  background-color: #7465cf;
}
.record-tag.exam {
  color: #fff;
  background-color: #e75e9f;
}
.record--lunch-wrapper {
  display: flex;
  margin: 15px 0;
  color: var(--text_secondary);
  fill: var(--icon_secondary);
}
.record--lunch-text {
  margin-left: 5px;
}