
.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 40px;
  justify-content: center;
}

.budge {
  background-color: #f4eeff;
}

.paid {
  background-color: #fcf7bb;
}

.ball {
  background-color: #f6e5f5;
}

.cost {
  background-color: #c2e8ce;
}

.years {
  background-color: #daf1f9;
}

.bigNumber {
  font-size: 20px;
  font-weight: bold;
}